<div class="form-group">
  <label for="{{id}}" class="control-label{{#if horizontal}} col-md-{{#if wide_label}}4{{else}}3{{/if}}{{/if}}">{{label}}</label>
  <div class="{{#if horizontal}} col-md-{{#if wide_label}}7{{else}}8{{/if}}{{/if}}">
    <input class="form-control" type="{{#if type}}{{type}}{{else}}text{{/if}}" id="{{id}}" name="{{id}}" placeholder="{{label}}">
  </div>
</div>